AZURE_SEARCH_SERVICE_NAME='yoichikademo2'
AZURE_SEARCH_API_VER='2016-09-01'
AZURE_SEARCH_ADMIN_KEY='aBF205B6F596B205C8E7A978E92D96E12'
AZURE_SEARCH_INDEX_NAME='unofficialism'
AZURE_SEARCH_INDEXER_NAME='unofficialismindexer'
AZURE_SEARCH_INDEXER_DATASOURCE_NAME='docdbds-unofficialism'
DOCDB_HOST='https://yoichikademo1.documents.azure.com:443/'
DOCDB_DB='feeddb'
DOCDB_COLLECTION='unofficialismcoll'
DOCDB_MASTER_KEY='aEMwUa3EzsAtJ1qYfzwo9nQ3KudofsXNm3xLh1SLffKkUHMFl80OZRZIVu4lxdKRKxkgVAj0c2mv9BZSyMN7tdg=='
